# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================================
# VIRTUAL ENVIRONMENTS
# ==========================================================

env/
venv/
.venv/


# ==========================================================
# DJANGO LOCAL DATA
# ==========================================================

db.sqlite3
db.sqlite3-journal

media/


# ==========================================================
# ENVIRONMENT VARIABLES
# ==========================================================

.env
.env.*
!.env.example


# ==========================================================
# STATIC COLLECTION
# ==========================================================

staticfiles/


# ==========================================================
# IDE / EDITOR
# ==========================================================

.vscode/
.idea/


# ==========================================================
# OPERATING SYSTEM
# ==========================================================

.DS_Store
Thumbs.db


# ==========================================================
# LOGS
# ==========================================================

*.log